.dhx_cal_container {
	background-color:#96A4CF;
}

.dhx_cal_navline {
	color:#292C38;
}

.dhx_cal_prev_button {
	background-image:url(imgs/buttons.png?nocache=94913);
}

.dhx_cal_next_button {
	background-image:url(imgs/buttons.png?nocache=6395);
}

.dhx_cal_today_button {
	background-image:url(imgs/buttons.png?nocache=58163);
}

.dhx_cal_tab {
	background-color:#9CA9D2;
}

.dhx_cal_tab.active {
	border:1px dotted #484F63;
	border-bottom:0;
	background-color:#96A4CF;
}

.dhx_cal_header {
	border-top:1px dotted #656E8B;
	border-right:1px dotted #656E8B;
	color:#292C38;
}

.dhx_cal_data {
	border-top:1px dotted #656E8B;
}

.dhx_scale_bar {
	background-color:#96A4CF;
	border-left:1px dotted #484F63;
}

.dhx_scale_holder {
	border-right:1px dotted #484F63;
	background-image:url(imgs/databg.png?nocache=61314);
}

.dhx_scale_holder_now {
	border-right:1px dotted #484F63;
	background-image:url(imgs/databg_now.png?nocache=48119);
}

.dhx_scale_hour {
	border-bottom:1px dotted #656E8B;
	background-color:#96A4CF;
	color:#484F63;
}

.dhx_month_head {
	background-color:#EBEFF4;
	color:#292C38;
	border-right:1px dotted #484F63;
}

.dhx_month_body {
	border-right:1px dotted #484F63;
	border-bottom:1px dotted #484F63;
	background-color:#FFFFFF;
}

.dhx_now .dhx_month_body {
	background-color:#CFD5E9;
}

.dhx_after  .dhx_month_body, .dhx_before .dhx_month_body {
	background-color:#ECECEC;
}

.dhx_after  .dhx_month_head, .dhx_before .dhx_month_head {
	background-color:#E2E3E6;
	color:#727D9D;
}

.dhx_now .dhx_month_head {
	background-color:#A2AED4;
}

.dhx_cal_drag {
	background-color:#FFAA9C;
	border:1px solid #B5796F;
}

.dhx_loading {
	background-image:url(imgs/loading.gif?nocache=35728);
}

.dhx_multi_day_icon, .dhx_multi_day {
	background-color:#C6CEE5;
	border-right:1px dotted #656E8B;
}

.dhx_multi_day {
	border-top:1px dotted #656E8B;
}

.dhx_multi_day_icon, .dhx_multi_day_icon_small {
	background-color:#C6CEE5;
	border-bottom:1px dotted #656E8B;
	border-right:1px dotted #656E8B;
}

.dhtmlxLayoutPolyContainer_dhx_skyblue 	.dhx_cal_container  {
	background-color:#B3BDDC;
}

.dhx_cal_event div {
	background-color:#FFAA9C;
	border:1px solid #B5796F;
	color:#855851;
}

.dhx_cal_event_line {
	background-color:#FFAA9C;
	border:1px solid #B5796F;
	color:#855851;
}

.dhx_cal_event_clear {
	color:#855851;
}

.dhx_in_move {
	background-color:#FFC2B8;
}

div.dhx_cal_editor {
	background-color:#FFAA9C;
	border:1px solid #B5796F;
}

textarea.dhx_cal_editor {
	border:0px solid black;
}


div.dhx_now_time {
	border-bottom:2px dotted red;
}

.dhx_cal_light {
	background-color:#FFAA9C;
	border:1px solid #BA7C72;
	color:#855851;
}

.dhx_cal_light select {
	color:#855851;
}

.dhx_cal_lsection {
	background-color:#FFAD9F;
	color:#FFD6CF;
}

.dhx_section_time {
	background-color:#FFAD9F;
}

.dhx_cal_lsection .dhx_fullday {
	color:#855851;
}

.dhx_cal_ltext textarea {
	background-color:#FFD6CF; /* #FFD6CF; should be the same for dhx_cal_larea, was transperent */
	border:none;
	color:#855851;
}

.dhx_cal_larea {
	border:1px solid #CC887D;
	background-color:#FFD6CF;
}

.dhx_custom_button {
	color:#855851;
	background-color:#FFAA9C;
}

.dhx_cal_light_wide .dhx_cal_lsection {
	border:0px;
}

.dhx_cal_light_wide .dhx_wrap_section {
	border-top:1px solid #FFAD9F;
	background-color:#FFAD9F;
}

.dhx_cal_light input {
	color:#855851;
}

.dhx_cal_light_wide .dhx_cal_lsection .dhx_fullday {
	color:#FFD6CF;
}

.dhx_scale_bar_header  {
	border-bottom:1px dotted #656E8B;
}


.dhx_agenda_area {
	background-image:url(./imgs/databg.png?nocache=52761);
}

.dhx_agenda_line div {
	border-right:1px dotted #656E8B;
}

.dhx_agenda_area .dhx_agenda_line div {
	border-right:0px dotted #656E8B;
}

.dhx_v_border {
	border-right:1px dotted #656E8B;
}

.dhx_year_body {
	border-left:1px dotted #484F63;
}

.dhx_scale_bar_last {
	border-right:1px dotted #484F63;
}

.dhx_year_month {
	border:1px dotted #484F63;
}

.dhx_year_body .dhx_before .dhx_month_head, .dhx_year_body .dhx_after .dhx_month_head, .dhx_year_body .dhx_before .dhx_month_head a, .dhx_year_body .dhx_after .dhx_month_head a {
	color:#E2E3E6 !important;
}

.dhx_month_head.dhx_year_event {
	background-color:#FFAA9C;
}

.dhx_tooltip {
	border:1px solid #BBBBBB;
	background-image:url(./imgs/databg.png?nocache=28307);
}

.dhx_text_disabled {
	color:#855851;
}

.dhx_mini_calendar .dhx_calendar_click {
	background-color:#96A4CF;
}


.dhx_matrix_cell, .dhx_matrix_scell {
	border-bottom:1px dotted #656E8B;
	border-right:1px dotted #656E8B;
}

.dhx_matrix_cell {
	background-color:white;
}

.dhx_cal_lsection .dhx_readonly {
	color:#855851;
}

.dhx_matrix_scell.folder, .dhx_data_table.folder .dhx_matrix_cell {
	background-color:#969394;
}

.dhx_data_table.folder .dhx_matrix_cell {
	border-right:0;
}

.dhx_map_area {
	background-image:url(./imgs/databg.png?nocache=40998);
}

.dhx_map_line div {
	border-right:1px dotted #656E8B;
}

.dhx_map_line .headline_description {
	border-right:1px dotted #656E8B;
}

.dhx_map_line .dhx_map_description {
	border-right:0 dotted #656E8B;
}

.dhx_map_line .line_description {
	border-right:1px dotted #656E8B;
}

.dhx_map_line.highlight {
	background-color:#C4C5CC;
}

.dhx_map_area .dhx_map_line div {
	border-right:0px dotted #656E8B;
}

.dhtmlXTooltip.tooltip {
	background-color:white;
	border-left:1px dotted #855851;
	border-top:1px dotted #855851;
	color:#855851;
}

.dhx_wa_column_last .dhx_wa_day_cont {
	border-left:1px dotted #656E8B;
}

.dhx_wa_scale_bar  {
	border-top:1px dotted #656E8B;
	border-bottom:1px dotted #656E8B;
}

.dhx_wa_day_data  {
	background-color:#FCFEFC;
}

.dhx_wa_ev_body  {
	border-bottom:1px dotted #5D6680;
}

.dhx_wa_dnd  {
	color:#717B9B !important;
	background-color:#FFAA9C !important;
	border:1px solid #B5796F;
}

.dhx_cal_event_selected {
	background-color:#818DB2;
	color:white;
}

.dhx_second_scale_bar  {
	border-bottom:1px dotted #484F63;
}

.dhx_form_repeat  {
	background-color:#FFD6CF;
}

.dhx_cal_light_wide .dhx_form_repeat  {
	background-color:transparent;
}

.dhx_repeat_divider {
	border-left:1px dotted #CC887D;
}

input.dhx_repeat_date {
	border:1px #697391 solid;
}


.dhx_cal_tab.active {
	border:none;
}

.dhx_multi_day {
	border:none;
	border-top:1px solid #838FB4;
}

.dhx_multi_day_icon, .dhx_multi_day_icon_small {
	border-right:none;
}

.dhx_cal_container  {
	background-image:url(imgs/top-days-bg.png?nocache=17094);
	background-color:#EBEBEB;
}

.dhx_cal_navline {
	background-color:#EBEBEB;
}

.dhx_cal_prev_button {
	background-image:url(imgs/buttons.gif?nocache=13150);
}

.dhx_cal_next_button {
	background-image:url(imgs/buttons.gif?nocache=35366);
}

.dhx_cal_today_button {
	background-image:url(imgs/buttons.gif?nocache=61793);
}

.dhx_cal_tab {
	background-image:url(imgs/white_tab.png?nocache=96367);
}

.dhx_cal_tab.active {
	background-image:url(imgs/blue_tab.png?nocache=44248);
}

.dhx_cal_data {
	border-top:1px solid #838FB4;
}

.dhx_cal_header {
	background-image:url(imgs/top-days-bg.png?nocache=84239);
	border-top:0px;
	border-right:0px;
}

.dhx_scale_bar {
	background-image:url(imgs/top-separator.gif?nocache=61697);
	background-color:transparent;
	border-left:0px;
}

.dhx_scale_holder  {
	border-right:1px solid #838FB4;
}

.dhx_scale_holder_now {
	border-right:1px solid #838FB4;
}

.dhx_scale_hour {
	background-image:url(imgs/left-time-bg.png?nocache=66418);
	border-bottom:1px solid #838FB4;
	color:#292C38;
}

.dhx_multi_day {
	background-image:url(imgs/multi-days-bg.png?nocache=7996);
	border-bottom:1px solid #838FB4;
	border-left:0px;
}

.dhx_multi_day_icon,.dhx_multi_day_icon_small {
	border-bottom:1px solid #838FB4;
	border-left:1px solid #ffffff;
	background-color:transparent;
}

.dhx_month_head {
	background-color:#FFFFFF;
}

.dhx_after .dhx_month_head,.dhx_before .dhx_month_head {
	background-color:#EFEDE2;
}

.dhx_now .dhx_month_head {
	background-color:#D1D7EA;
}

.dhx_after .dhx_month_body,.dhx_before .dhx_month_body {
	background-color:#EFEDE2;
}

.dhx_cal_event div {
	border:1px solid #E89B8E;
	background-color:#FFCBC3;
	color:#000000;
}

.dhx_cal_event_clear {
	color:#000000;
}

.dhx_cal_event_line {
	background-image:url(imgs/event-bg.png?nocache=99720);
	border:1px solid #E89B8E;
	color:#000000;
}

.dhx_in_move {
	background-image:url(imgs/move.png?nocache=49574);
}

.dhx_cal_event .dhx_body {
	background-color:#FFCBC3;
}

.dhx_cal_event .dhx_title {
	background-color:#FFCBC3;
}

.dhx_cal_light {
	background-color:#EBEBEB;
	border:2px solid #838FB4;
	color:#000000;
}

.dhx_cal_larea {
	border:1px solid #838FB4;
	background-color:#FFFFFF;
}

.dhx_cal_lsection {
	background-image:url(imgs/lightbox.png?nocache=53104);
	color:#000000;
}

.dhx_cal_light_wide .dhx_cal_lsection {
	background-image:url(imgs/multi-days-bg.png?nocache=66315);
}

.dhx_cal_ltext textarea {
	background-color:#ffffff;
	color:#000000;
}

.dhx_cal_light select, .dhx_cal_light input {
	color:#000000;
}


div.dhx_cal_editor {
	background-color:#FFCBC3;
}

.dhx_year_month {
	background-image:url(imgs/top-days-bg.png?nocache=6006);
	border:0px;
}

.dhx_year_week {
	background-image:url(imgs/top-days-bg.png?nocache=66769);
}

.dhx_month_head {
	border-right:1px solid #838FB4;
}

.dhx_month_body, .dhx_matrix_cell, .dhx_matrix_scell {
	border-right:1px solid #838FB4;
	border-bottom:1px solid #838FB4;
}

.dhx_year_body {
	border-left:1px solid #838FB4;
}

.dhx_scale_bar_last {
	border-right:none;
}

.dhx_month_head.dhx_year_event {
	background-color:#FFCBC3;
}

.dhx_year_body .dhx_before .dhx_month_head, .dhx_year_body .dhx_after .dhx_month_head, .dhx_year_body .dhx_before .dhx_month_head a, .dhx_year_body .dhx_after .dhx_month_head a {
	color:#EFEDE2 !important;
}

.dhx_cal_lsection .dhx_readonly {
	color:#000000;
}

.dhx_cal_lsection .dhx_fullday {
	color:#000000;
}

.dhx_cal_light_wide .dhx_cal_lsection {
	color:black;
}

.dhx_cal_light_wide .dhx_wrap_section {
	border-top:1px solid #838FB4;
	background-image:url(imgs/multi-days-bg.png?nocache=3896);
}

.dhx_cal_light_wide .dhx_cal_ltext {
	border-left:1px solid #838FB4;
}

.dhx_cal_light_wide .dhx_cal_ltext  {
	background-color:white;
}

.dhx_custom_button {
	color:black;
}

.dhx_repeat_divider {
	border-left:1px solid #838FB4;
}

.dhx_cal_header.dhx_second_cal_header  {
	background-image:url(imgs/second-top-days-bg.png?nocache=76678);
}

.dhx_second_scale_bar  {
	border-bottom:0;
}

.dhx_cal_light_wide .dhx_cal_lsection .dhx_fullday, .dhx_cal_lsection .dhx_fullday {
	color:#000000;
}

div.dhx_menu_icon {
	border: none;
}
div.dhx_menu_head {
	border: none;
}